<h1><%= @category.name %></h1>

<ul>
  <% @categoryWorks.each do |work| %>
    <li>
      <%= link_to work.name, work_path(work) %>
    </li>
 <% end %>
</ul>

<p><%= link_to "Return to categories", categories_path %></p>

<hr>

<%= link_to "New Work", new_work_path %>
